.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 5rem 7rem;
}
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0px 1.9rem;
    font-size: 5rem;
    font-weight: 600;
}

.mywork-title img{
    position: absolute;
    bottom:0;
    right: 0;
    z-index: -1;
}

.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}
.mywork-container img{
    box-sizing: border-box;
    width: 27rem;
    height: 18rem;
    transition: 0.3s;
    cursor: pointer;
}
.mywork-container img:hover{
    transform: scale(1.10);
    border: .25rem solid #ff00ff;
    border-radius: .5rem;
    transition: 0.3s;
}
.mywork-showmore{
    display: flex;
    gap:.8rem;
    border-radius: 3rem;
    border: 2px solid white;
    padding: 1.2rem 1.9rem;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 5rem;
    transition: .6s;
    cursor: pointer;
}

.mywork-showmore:hover{
   gap: 1.9rem;
   transition: 0.6s;
}