.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 5rem 7rem;
}
.contact-section{
    display: flex;
    gap: 2rem;
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
}
.contact-left h1{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: 39rem;
    color: #D8D8D8;
    font-size: 1.2rem;
    line-height: 2.1rem;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    color: #D8D8D8;
    font-size: 1rem;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}
.contact-right label{
    color: #D8D8D8;
    font-size: 1rem;
    font-weight: 500;
}
.contact-right input{
    border: none;
    width: 30rem;
    height: 3rem;
    padding-left: 1.2rem;
    border-radius: .25rem;
    background:#32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 1.2rem;
}

.contact-right textarea{
    width: 28rem;
    border: none;
    padding: 1.5rem;
    border-radius: .24rem;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 1.2rem; 
}
.contact-submit{
    border: none;
    color: white;
    border-radius: 3rem;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    font-size: 1.3rem;
    padding: 1.2rem 2.4rem;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: .3s;
}
.contact-submit:hover{
    transform: scale(1.1);
    transition: .3s;
}