.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 9rem;
}

.logo{
    width: 5rem;
    height: 5rem;
    border-radius: 2.50rem;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2.2rem;
    font-size: 1rem;
}

.nav-connect{
    padding: .9rem 1.3rem;
    border-radius: 3.1rem;
    background: linear-gradient(267deg,#DA7C25 0.36%,#B923E1 102.06%);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}

.nav-connect:hover{
    transform: scale(1.05);
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    gap:.25rem;
    cursor: pointer;
}
.nav-menu li img{
    display: flex;
    margin: auto;
}

.anchor-link{
    text-decoration: none;
    color: white;
}

.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}

@media(max-width:768px){
    .navbar{
        margin:1.2rem 3rem
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 1.9rem;
    }
    .nav-mob-close{
        display: block;
        position: relative;
        top:1.9rem;
        left:18rem;
        right: 2rem;
        width: 1.9rem;
    }
    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 1.9rem;
        background-color: #1F0016;
        width: 22rem;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -22rem;
    }
    .nav-menu li{
        font-size: 1.9rem;
        padding-left: 6.2rem;
        flex-direction: row;
        gap: 1.2rem;
    }
}