.footer{
    margin: 3rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.footer-top-left{
    font-size: 1.2rem;
    max-width: 25rem;
}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 2.1rem;
}
.footer-email-input{
    display: flex;
    gap: 1.9rem;
    padding: 1.2rem 1.9rem;
    border-radius: 3rem;
    background: #32323B;
    padding-right: 5rem;
}
.footer-email-input input{
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 1.1rem;
}
.footer-subscribe{
    font-size: 1.2rem;
    padding: 1.3rem 3rem;
    border-radius: 3rem;
    background: linear-gradient(270deg, #DF8908 -5.09%, #B415FF 106.28%);
    transition: .3s;
    cursor: pointer;
} 
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}
.footer-bottom-right{
    display: flex;
    gap: 3rem;
    margin-bottom: 3rem;
}
.footer-email-input:hover{
    border: 2px solid white;
}
.footer-subscribe:hover{
    transform: scale(1.1);
    transition: .3s;
}